# LaTeX
_minted*
.*.lb
*.*-SAVE-ERROR
*-blx.aux
*-blx.bib
*-converted-to.*
*-gnuplottex-*
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.cb
*.cb2
*.cpt
*.cut
*.dpth
*.dvi
*.ent
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.glg
*.glo
*.gls
*.glsdefs
*.gnuplot
*.hst
*.ist
*.loa
*.lod
*.lof
*.log
*.lol
*.lot
*.lox
*.lzo
*.lzs
*.md5
*.nav
*.out
*.pdf
*.pdfsync
*.pre
*.pyg
*.run.xml
*.slg
*.slo
*.sls
*.snm
*.soc
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.table
*.tdo
*.thm
*.toc
*.upa
*.upb
*.ver
*.vrb
*.vtc
*.xcp
*.xdv
acs-*.bib
/build/

# Misc
.DS_Store
!/snapshots/*.pdf
!/archive/*.zip
!/src/**/*.pdf